.profile__columns {
    max-width: 100%;
    display: flex;
}

@media screen and (max-width: 899px) {
    .profile__columns {
        margin: 0 0 46px 0;
    }
}

@media screen and (max-width: 615px) {
    .profile__columns {
        margin-bottom: 32px;
    }
}