.profile__subtitle {
  flex-basis: 100%;
  margin: 0;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
}

@media (max-width: 767px) {
  .profile__subtitle {
    text-align: center;
    font-size: 14px;
    max-width: 275px;
    margin: 0 19px;
  }
}
