.profile__edit {
  width: 24px;
  height: 24px;
  background: transparent url('../../../images/Vector.svg') no-repeat center;
  border: 1px solid #fff;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity .1s;
}

.profile__edit:hover {
  opacity: .6;
}

@media (max-width: 767px) {
  .profile__edit {
    width: 18px;
    height: 18px;
  }
}
