.gallery__description-img {
  background: url('../../../images/like.png');
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding-top: 10%;

}

.gallery__description-img:hover {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}
