.error {
    color: red;
    opacity: 1;
    position: absolute;
    top: 145px;
    left: 36px;
    transition: 0.3s;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

@media screen and (max-width: 615px) {
    .error {
        top: 151px;
        left: 22px;
    }
}