.profile__info {
    margin: 0 0 0 -25%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 38.2%;
    justify-self: flex-start;
    list-style: none;
    align-self: center;
}
