.places__delete-icon {
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  top: 18px;
  right: 15px;
  transition: opacity .2s;
}


.places__delete-icon:hover {
  opacity: .6;
  cursor: pointer;
}